*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 1rem;
}
.globaldiv{
    width: 95.7777%;
    margin-left: 2%;
    margin-right: 2%;
}
.localdiv{
    float: left;
    padding: 3%;
}

p{
    padding: 20px;
    padding-top: 50px;
}

/*На цьому моменті мій друг мені пояснив, що absolute враховується відносно сторінки або батьківського елементу в якому він знаходиться
 а релятів уже відносно позиції на якому сам елемент цей і знаходиться. Ну можна і 1 бал зняти мені*/
.indivhead{
    position: absolute;
    font-size: 25px;
    right: 0;
    margin-top: 0;
    border: 1px solid black;
    border-top: 0;
    border-right: 0;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
.father{
    position: relative;
    background-color: rgba(32, 54, 50, 0.21);
    border: 1px solid black;
    font-size: 20px;
    overflow: hidden;
}

.localdiv:nth-of-type(1) h2{
    background-color:darkgoldenrod;
}
.localdiv:nth-of-type(2) h2{
    background-color:blueviolet;
    color: white;
}
.localdiv:nth-of-type(3) h2{
    background-color:burlywood;
}


@media (min-width: 993px){
    .col-lg-4{
        width:33.33%;
    }
}
@media (min-width: 769px) and (max-width: 992px){
    .col-md-6{

        width:50%;

    }
    .col-md-12{

        width:100%;

    }

}
@media (max-width: 768px){
    .col-sm-12{
        width:100%;
    }
}

.links{
    text-align: center;
    width:100%;
    padding: 3%;
}
